header {
    text-align: center;
    text-decoration: underline;
    font: arial;
    font-size: 25pt;
}
body {
    text-align: left;
    text-shadow: 55mm;
    font-size: 12pt;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}